h1{
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: x-large;
font-synthesis: style;
font-stretch: extra-condensed;
}
img{
    justify-content: center;
    width: 100%;
}